version: "3.9"

services:
  db:
    image: postgres:17.4
    restart: always
    environment:
      POSTGRES_DB: SmartTechDB
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - backend_pgdata:/var/lib/postgresql/data
    ports:
      - "2345:5432"

volumes:
  backend_pgdata:
