body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.routes-wrapper {
  flex: 1;
}

.nav-custom {
  background-color: white;  /* бела позадина */
  color: black !important;  /* црни букви */
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-custom:hover {
  background-color: black;  /* црна позадина на hover */
  color: white !important;  /* бели букви на hover */
}

.icon-button {
  background-color: white;
  color: black; /* ова ќе биде бојата на иконата */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.icon-button i {
  color: black; /* иконата почетно црна */
}

.icon-button:hover {
  background-color: black;
  border: 1px solid white;
}

.icon-button:hover i {
  color: white; /* иконата станува бела на hover */
}

.btn-search {
  border: 2px solid #198754; /* зелена линија */
  color: #198754;            /* зелена боја на текстот */
  background-color: transparent; /* почетно празно */
  transition: all 0.3s ease;
}

.btn-search:hover {
  background-color: #198754; /* полно зелено на hover */
  color: white;              /* текстот станува бел */
}

.btn-green-outline {
  border: 2px solid #198754 !important; /* зелена граница */
  color: #198754 !important;            /* зелена боја на текстот */
  background-color: transparent !important; /* празно по default */
  transition: all 0.3s ease;
}

.btn-green-outline:hover {
  background-color: #198754 !important; /* полно зелено на hover */
  color: white !important;              /* текстот станува бел */
}


/* CART BUTTON */
.btn-cart-custom {
  transition: all 0.3s ease;
}

.btn-cart-custom:hover {
  background-color: #198754 !important; /* Bootstrap success green */
  color: white !important;
  border-color: #198754 !important;
}

/* INFO BUTTON */
.btn-info-custom {
  transition: all 0.3s ease;
}

.btn-info-custom:hover {
  background-color: #0dcaf0 !important; /* Bootstrap info blue */
  color: white !important;
  border-color: #0dcaf0 !important;
}

.btn-edit-custom {
  transition: all 0.3s ease;
}

.btn-edit-custom:hover {
  background-color: #ffc107 !important; /* Bootstrap warning yellow */
  color: black !important;
  border-color: #ffc107 !important;
}

/* DELETE BUTTON */
.btn-delete-custom {
  transition: all 0.3s ease;
}

.btn-delete-custom:hover {
  background-color: #dc3545 !important; /* Bootstrap danger red */
  color: white !important;
  border-color: #dc3545 !important;
}
