.store {
    position: relative;
    width: 100%;
    height: 80vh; /* висина на hero */
    background-image: url('../../images/store.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-overlay {
    text-align: center;
    background: rgba(0, 0, 0, 0.4); /* затемнување на сликата */
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
}

.store-overlay h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.store-btn {
    font-size: 1.2rem;
    padding: 10px 25px;
}
